@import "../../theme.less";

.login-box {
    background-color: white;
    border: 1px solid @booklab-yellow;
    padding: 20px;
    input[type="text"], input[type="password"] {
        max-width: 350px;
        width: 90%;
        border: 1px solid @booklab-yellow;
    }
}
