@import "../../theme.less";

.header {
    background-color: white;
    height: 10%;
    border-bottom: 2px solid @booklab-yellow;
    p {
        margin: auto;
        color: @booklab-pink;
        font-size: 50px;
        text-align: center;
    }
    a {
        color: @booklab-pink;
    }
}
