@import "../../theme.less";

.header {
    background-color: white;
    height: 10%;
    color: @booklab-pink;
    font-family: Arial;
    text-align: center;
    border-bottom: 2px solid @booklab-yellow;
    a {
        color: @booklab-pink;
    }
    p {
        display: inline-block;
    }
    .logo {
        font-size: 50px;
    }
    .login-link {
        float: right;
        cursor: pointer;

    }


}
