<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css"
      integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/" crossorigin="anonymous">
<div class="header" [ngClass]="app.login? 'blur': ''">
    <p class="logo" routerLink="">
        BookLab
    </p>
    <p class="login-link" (click)="app.login=true" *ngIf="!user.loggedIn">
        Log in
    </p>
    <p class="login-link" (click)="user.logout()" *ngIf="user.loggedIn">Log out</p>
</div>
