@import "theme.less";

body {
    padding: 0;
    margin: 0;
}

.left {
    height: 100%;
}

.right {
    height: 100%;
}

app-login {
    position: absolute;
}

.top {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

.main {
    flex-grow: 1;
}
