<div *ngIf="books.length > 0" class="books">
    <div *ngFor="let book of books" class="row book"
         id="{{books.indexOf(book)}}"
         (mouseenter)="enterMouseEvent.emit(book.box); changeColor(books.indexOf(book).toString(), true)"
         (mouseleave)="leaveMouseEvent.emit(book.box); changeColor(books.indexOf(book).toString(), false)"
         [ngClass]="{'addedToShelf':book.added, 'toAdd':book.checked}">
        <div class="col-1" *ngIf="book.added">
            <i class="fas fa-check-circle okay"></i>
        </div>
        <div class="col-1" *ngIf="!book.added">
            <label class="b-custom">
                <input type="checkbox" [(ngModel)]="book.checked">
                <span class="checkmark"></span>
                <img class="checkmark" src="../../../assets/check.png">
            </label>
        </div>
        <div class="col-10 col-sm-7 book-title">{{book.book.title}}</div>
        <div class="w-100 d-sm-none"></div>
        <div class="col-1 d-sm-none"></div>
        <div class="col-10 col-sm-4">{{book.book.authors[0]}}</div>
        <div class="col-12 d-sm-none">
            <hr>
        </div>
    </div>
</div>
<div class="mt-3" *ngIf="books.length > 0"><img
    src="https://books.google.com/googlebooks/images/poweredby.png"></div>
<label *ngIf="books.length > 0" class="ml-0 button bookshelf {{isAdded()? 'disabled' : ''}}">
    {{buttonText}}
    <input type="button" (click)="add()" disabled="{{isAdded()? 'disabled' : ''}}">
</label>
