<div class="container books">
    <h1>Your Bookshelf</h1>
    <div *ngIf="books.length == 0" class="row">
        <div class="col-12">
            <p class="ml-0">You do not have any books yet</p>
        </div>
    </div>
    <div class="row" *ngFor="let book of books">
        <div class="col-1">
            <i *ngIf="!book.isSearched" class="fas fa-trash-alt delete" (click)="deleteBook(book)"></i>
        </div>
        <div class="col-10 col-sm-7 book-title">{{book.title}}</div>
        <div class="w-100 d-sm-none"></div>
        <div class="col-1 d-sm-none"></div>
        <div class="col-10 col-sm-4">{{book.authors[0]}}</div>
        <div class="col-12 d-sm-none">
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12 flex align-items-baseline">
            <button class="button ml-0 mr-0" routerLink="../upload">Search books for your shelf</button>
        </div>
    </div>
</div>
