github "Swinject/Swinject"
github "Swinject/SwinjectAutoregistration"
github "Swinject/SwinjectStoryboard"
github "devxoul/URLNavigator"
github "bustoutsolutions/siesta"
github "CosmicMind/Material"
github "evgenyneu/Cosmos" ~> 16.0
