github "Swinject/Swinject"
github "Swinject/SwinjectAutoregistration"
github "Swinject/SwinjectStoryboard"
github "devxoul/URLNavigator"
github "bustoutsolutions/siesta"
github "CosmicMind/Material"
github "evgenyneu/Cosmos" ~> 16.0
github "52inc/Pulley"
github "paulz/ImageCoordinateSpace" "master"
github "CRAnimation/CRRefresh"
