<div class="container-fluid top-container d-flex flex-column">
    <div class="row">
        <div class="col-12 input">
            <br>
            <label class="button upload">
                Upload a picture of your bookshelf!
                <input type="file" (change)="onSubmit($event)" accept="image/*"/>
            </label>
            <br>
            Tip: Our service works best if you take a picture when you are standing right in front of your bookcase. Do it one shelf at the time.
        </div>
    </div>
    <div class="row flex-grow-1">
        <div class="col-12 results">
            <img *ngIf="img!=null" class="image" src="{{img}}">
            <svg *ngIf="img==null" class="image">
                <rect class="rect"></rect>
            </svg>
            <p *ngIf="results.length == 0 && img!= null">No books were found</p>
            <div *ngIf="results.length > 0" class="books">
                <div *ngFor="let book of results" class="row book"
                     [ngClass]="{'addedToShelf':book.addedToShelf, 'toAdd':book.checked}">
                    <div class="col-1" *ngIf="book.addedToShelf"><i class="fas fa-check-circle okay"
                                                                    (click)="deleteBook(book.book)"></i></div>
                    <div class="col-1" *ngIf="!book.addedToShelf">
                        <label class="b-custom">
                            <input type="checkbox" [(ngModel)]="book.checked" (change)="log(book.checked)">
                            <span class="checkmark"></span>
                            <img class="checkmark" src="../../../assets/check.png">
                        </label>
                    </div>
                    <div class="col-10 col-sm-7 book-title">{{book.book.getMainTitle()}}</div>
                    <div class="w-100 d-sm-none"></div>
                    <div class="col-1 d-sm-none"></div>
                    <div class="col-10 col-sm-4">{{book.book.authors[0]}}</div>
                    <div class="col-12 d-sm-none">
                        <hr>
                    </div>
                </div>
            </div>
            <label *ngIf="results" class="button bookshelf {{addedToShelf? 'disabled' : ''}}">
                Add these books to your bookshelf
                <input type="button" (click)="addToBookShelf()" disabled="{{addedToShelf? 'disabled' : ''}}">
            </label>
            Or do you want to
            <button class="button ml-0 mr-0" (click)="enterBook = true">Enter a book manually</button>
            <app-manual-book-find *ngIf="enterBook"></app-manual-book-find>
        </div>
    </div>
</div>
