<div class="container-fluid top-container d-flex flex-column">
    <div class="row">
        <div class="col-12 input">
            <label class="button upload">
                Upload your image
                <input type="file" (change)="onSubmit($event)" accept="image/*"/>
            </label>
        </div>
    </div>
    <div class="row flex-grow-1">
        <div class="col-12 results">
            <img *ngIf="img!=null" class="image" src="{{img}}">
            <svg *ngIf="img==null" class="image">
                <rect class="rect"></rect>
            </svg>
            <p *ngIf="!searching && results.length == 0 && img!= null">No books were found</p>
            <p *ngIf="searching">
                <img class="loading" src="assets/loading.gif">
                Searching books in your picture..
            </p>
            <div *ngIf="results.length > 0" class="books">
                <div *ngFor="let book of results" class="row book"
                     [ngClass]="{'addedToShelf':book.addedToShelf, 'toAdd':book.checked}">
                    <div class="col-1" *ngIf="book.addedToShelf"><i class="fas fa-check-circle okay"
                                                                    (click)="deleteBook(book.book)"></i></div>
                    <div class="col-1" *ngIf="!book.addedToShelf">
                        <label class="b-custom">
                            <input type="checkbox" [(ngModel)]="book.checked" (change)="log(book.checked)">
                            <span class="checkmark"></span>
                            <img class="checkmark" src="../../../assets/check.png">
                        </label>
                    </div>
                    <div class="col-10 col-sm-7 book-title">{{book.book.getMainTitle()}}</div>
                    <div class="w-100 d-sm-none"></div>
                    <div class="col-1 d-sm-none"></div>
                    <div class="col-10 col-sm-4">{{book.book.authors[0]}}</div>
                    <div class="col-12 d-sm-none">
                        <hr>
                    </div>
                </div>
            </div>
            <div class="mt-3" *ngIf="results.length > 0"><img src="https://books.google.com/googlebooks/images/poweredby.png"></div>
            <label *ngIf="results.length > 0" class="button bookshelf {{booksAddedToShelf()? 'disabled' : ''}}">
                Add to your bookshelf
                <input type="button" (click)="addToBookShelf()" disabled="{{booksAddedToShelf()? 'disabled' : ''}}">
            </label>
        </div>
    </div>
</div>
