@import "../../theme.less";

.image {
    margin-top: 20px;
    width: 50%;
    .rect {
        width: 100%;
        height: 200px;
        fill: #91afe7;
    }
}

@media (max-width: 768px) {
    .image {
        width: 80%;
    }
}
