<div class="container books">
    <h1>About BookLab</h1>
    <p>
        Finding the right next book after finishing the last one is often a hard task. Generally, the amount of books in a bookshop or library is so big that it is hard to determine where to start looking. Titles can be deceiving and reading the back cover of each book would also take way too long. Search engines are biased and the recommendation systems often recommend books that are very popular and may overlook possible very good matches that get little attention.
        <br><br>
        You want to find a good book anywhere, on any shelf, at the very moment that you’re standing in front of it. BookLab will help you discover books that may otherwise have gone unnoticed.
        <br><br>
        BookLab is a proud initiative of {{vera}}, {{fabian}}, {{sayra}}, {{marino}} and {{christian}}.

    </p>
</div>
