@import "../../theme.less";

.header {
    background-color: white;
    border-bottom: 2px solid @booklab-yellow;
    text-align: center;
    color: @booklab-pink;
    p {
        margin: auto;
        color: @booklab-pink;
        display: inline-block;
    }
    a {
        color: @booklab-pink;
    }

    .logo {
        font-size: 50px;
        position: relative;
        cursor: pointer;
        height: 60px;
        text-align: center;

    }
    .login-link {
        padding: 20px;
        float: right;
        cursor: pointer;
    }

    .menu-button {
        font-size: 25px;
        margin: 15px;
        cursor: pointer;
    }

}
